.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
    box-sizing: border-box;
}

.img {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer; /* Указываем, что изображение кликабельно */
}

.img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.description {
    font-size: 0.8em;
    margin-top: 10px;
}

.add-btn {
    width: 100%;
    margin-top: 10px;
}

/* Стили для модального окна */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    background: #fff;
    padding: 20px;
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
}

.modal-image {
    width: 100%;
    height: auto;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.shapewithtext {
    position: absolute;
    background-color: #c69bff;
    height: 50px;
    width: 100px;
    top: 100%; /* Располагаем подложку под карточкой товара */
    left: 50%;
    transform: translateX(-50%); /* Центрируем подложку по горизонтали относительно карточки */
    z-index: -1; /* Размещаем подложку позади карточки товара */
    /* Если нужно, добавьте отступы или границы */
}

